__pycache__
**/__pycache__
**/__pycache__/**
.ruff_cache
**/*.png
**/*.svg
**/*.mp3
**/*.wav
**/*.ttf
**/*.as
**/*.txt
.import_staging
papa-louie-archipelago.swf
workspace
RABCDAsm
RABCDAsm/**
images
*.7z
.direnv
*.zip
!.foldericon.png
!a.png
!icon-512.png
!s.png
!s.png
.modded_hashes
pl3.swf
symbolClass/symbols.csv
