__pycache__
**/__pycache__
**/__pycache__/**
.ruff_cache
**/*.png
**/*.svg
**/*.mp3
**/*.wav
**/*.ttf
**/*.as
**/*.txt
.import_staging
papa-louie-archipelago.swf
workspace
RABCDAsm
RABCDAsm/**
images
*.7z
.direnv
*.zip
!.foldericon.png
!a.png
!icon-512.png
!s.png
!s.png
.modded_hashes
pl3.swf
symbolClass/symbols.csv
!scripts/splashScreenMC.as
!scripts/loadingMC.as
!scripts/papaGame/screens/SplashScreen.as
!scripts/Preloader.as
!scripts/papaGame/screens/class_2.as
!scripts/papaGame/screens/LicenseLogoScreen.as
!scripts/papaGame/screens/SponsorLogoScreen.as
!scripts/papaGame/screens/FliplineLogoScreen.as
!scripts/package_4/class_5.as
!scripts/papaGame/screens/SlotSelectScreen.as
!scripts/package_3/class_11.as
!scripts/flipline/api/class_14.as
!scripts/package_1/class_6.as
!scripts/package_3/class_21.as
!scripts/papaGame/models/GameHUD.as
!scripts/papaGame/screens/MainMenuScreen.as
!scripts/papaGame/screens/LoadingLevelsScreen.as
!scripts/papaGame/data/LevelData.as
!scripts/papaGame/data/DataManager.as
!scripts/papaGame/data/UserData.as

.direnv
!levelViewer/images/
!levelViewer/images/*.png
!scripts/papaGame/managers/ChallengeManager.as
!scripts/papaGame/screens/StageIntroScreen.as
!scripts/papaGame/screens/StageOutroScreen.as
!scripts/papaGame/models/PlayerChar.as
!scripts/papaGame/data/CustomerData.as
!scripts/papaGame/models/characters/CustomerChar.as
!scripts/papaGame/screens/ParadeScreen.as
